<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ControlObjectList" type="Uniso.Kuss.ConfigListSectionHandler, ui2tcWin" />
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uniso.Kuss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <ControlObjectList>
       <ControlObject id="14968" name="MUX IP-3"  method="Eth" params="10.10.10.31:1203" />
       <ControlObject id="14982" name="MUX IP-9"  method="Eth" params="10.10.10.31:1204" />
       <ControlObject id="14950" name="MUX 66-30" method="Eth" params="10.10.10.31:1208" />
       <ControlObject id="15024" name="MUX 62-30" method="Eth" params="10.10.10.31:1206" />
       <ControlObject id="15003" name="MUX 31-30" method="Eth" params="10.10.10.31:1231" />
       </ControlObjectList>
  <appSettings>
    <add key="ControlObjectList" value="Control Object List" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <applicationSettings>
        <Uniso.Kuss.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerEndPoint" serializeAs="String">
                <value>10.10.10.31:20002</value>
            </setting>
        </Uniso.Kuss.Properties.Settings>
    </applicationSettings>
</configuration>