<configuration>
  <system.runtime.remoting>
    <application name="ProviderDB">
      <service>
        <client url="http://localhost:3000">
          <activated type="Net.Monitoring.MonitoringDeviceImpl, MonitoringLib"/>
        </client>
      </service>
      <channels>
        <channel ref="http" port="0" >
          <serverProviders>
            <provider ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
