<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ControlObjectList" type="Uniso.Kuss.ConfigListSectionHandler, ui2tcWin" />
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uniso.Kuss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <ControlObjectList>
       <ControlObject id="14818" name="MUX 30-31" method="Eth" params="10.10.10.48:1209" />
       <ControlObject id="14882" name="MUX 30-66" method="Eth" params="10.10.10.48:1207" />
       <ControlObject id="14873" name="MUX 30-62" method="Eth" params="10.10.10.48:1205" />
       <ControlObject id="14864" name="MUX 30-65" method="Eth" params="10.10.10.48:1201" />
       <ControlObject id="14932" name="MUX 65-30" method="Eth" params="10.10.10.48:1202" />
    </ControlObjectList>
  <appSettings>
    <add key="ControlObjectList" value="Control Object List" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <applicationSettings>
        <Uniso.Kuss.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerEndPoint" serializeAs="String">
                <value>10.10.10.48:20001</value>
            </setting>
        </Uniso.Kuss.Properties.Settings>
    </applicationSettings>
</configuration>